### Django ###
*.log
*.pot
*.pyc
local_settings.py
settings_development.py
settings_production.py

*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
# Eclipse pydev
.project
.mr.developer.cfg
.pydevproject
